a{
  margin-left:10px;
}
a:link{
    color:black;
  }
a:visited{
    color: darkslategray;
}
.header{
    height:100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px rgb(81, 81, 255);
    background-color: rgb(81, 81, 255);
}
.backtogether{
    text-shadow: 1px 1px 2.5px rgb(81, 81, 255);
    font-family: fantasy;
}
.icon-bar{
    background:rgb(0, 0, 0);
}


